*{
    /* height: auto;
    width: auto;
    border: none;
    background-color: white;
    font-family: "Lato"; */
    margin: 0;
}

body{
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family: "Lato";
}

